body {
    margin: 0px;
    font-size: 30px;
    color: rgb(190, 190, 190);
    background-color: #2e2e2e;
}
.headline {
    background-color: rgb(4, 36, 73);
    margin: 0px;
    overflow: auto;
    width: 100%;
}
h1 {
    padding: 10px;
    margin: 0px;
    font-size: 70px;
    color: azure;
    width: 60%;
}
.headtext {
    font-size: 70px;
    float: left;
    background-color: rgb(4, 36, 73);
    color: azure;
    width: 800px;
    padding: 10px;
    margin-top: 25px;
}
.statistic {
    font-size: 70px;
    float: right;
    background-color: rgb(4, 36, 73);
    color: azure;
    width: 300px;
    padding: 10px;
    margin-top: 25px;
}
#blister_logo {
    height: 150px;
    margin-left: 50px;
    animation: rotate 6s infinite;
}
.wrapper {
    width:100%;
    overflow:auto;
    padding: 10px;
    display: flex;
    font-weight: bold;
}
.text-left {
    margin-left: 25px;
    margin-top: 50px;
    width: 25%;
}
.current-counter {
    width: 100px;
    float: left;
    align-items: center;
}
.watercontainer {
    height: 310px;
    /* width: 90%; */
    border: 5px solid black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#water {
    background-color: aqua;
    width: 100%;
    /* height: 200px; */
    bottom: 0;
    position: absolute;
    padding: 5px;
}
#current_count_span {
    position: absolute;
}
.water_text_color {
    color: rgb(20, 20, 20);
}
#reset {
    font-size: 25px;
    margin: 10px auto 0px auto;
}
.text-right {
    width: 700px;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}
.correction {
    display: flex;
    flex-direction: column;
    width: 30px;
}
#increase {
    /* width: 8%; */
    height: 160px;
}
#decrease {
    /* width: 8%; */
    height: 160px;
}
td {
    width: 220px;
    text-align: center;
}
#drinks {
    font-size: 25px;
}
.span {
    color: purple;
}
.month {
    height: 400px;
    overflow: auto;
}
.year {
    height: 400px;
    overflow: auto;
}
.chart {
    width: 700px;
    float: left;
}
.statistics {
    width: 10%;
    float: left;
}
.information {
    width: 700px;
    float: left;
    margin-top: 100px;
}
.drinks {
    margin-left: 200px;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}