body {
    margin: 0px;
    font-size: 30px;
}
.headline {
    background-color: rgb(4, 36, 73);
    margin: 0px;
    overflow: auto;
    width: 100%;
}
h1 {
    padding: 10px;
    margin: 0px;
    font-size: 70px;
    color: azure;
    width: 60%;
}
.headtext {
    font-size: 70px;
    float: left;
    background-color: rgb(4, 36, 73);
    color: azure;
    width: 70%;
    padding: 10px;
}
.statistic {
    font-size: 70px;
    float: right;
    background-color: rgb(4, 36, 73);
    color: azure;
    width: 10%;
    padding: 10px;
}
.wrapper {
    width:100%;
    overflow:auto;
    padding: 10px;
    display: flex;
}
.text-left {
    margin-left: 25px;
    margin-top: 50px;
    width: 25%;
}
.current-counter {
    width: 100px;
    float: left;
    align-items: center;
}
.watercontainer {
    height: 310px;
    /* width: 90%; */
    border: 5px solid black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.water {
    background-color: aqua;
    width: 100%;
    height: 200px;
    bottom: 0;
    position: absolute;
    padding: 5px;
}
#current_count_span {
    position: absolute;
}
#reset {
    font-size: 25px;
    margin: 10px auto 0px auto;
}
.text-right {
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.correction {
    display: flex;
    flex-direction: column;
    width: 30px;
}
#increase {
    /* width: 8%; */
    height: 160px;
}
#decrease {
    /* width: 8%; */
    height: 160px;
}
td {
    width: 220px;
}
#drinks {
    font-size: 25px;
}
.month {
    height: 300px;
    overflow: auto;
}
.year {
    height: 300px;
    overflow: auto;
}
.statistic {
    width: 50%;
    float: left;
}
.information {
    width: 40%;
    float: right;
    margin-top: 100px;
}