{% extends "base.html" %}
{% block content %}
    <div class="wrapper">
        <div class="text-left">
            <p>Du hast bereits</p>
            <p>Blister eingeworfen.</p>
            <p>Das sind <span id="points_span"></span> Punkte.</p>
        </div>
        <div class="current-counter">
            <div class="watercontainer" >
                <div class="water">
                </div>
                <span id="current_count_span"></span>
            </div>
            <button id="reset" style="position: relative;">Reset</button>
        </div>
        <div class="correction">
            <button id="increase">+</button>
            <button id="decrease">-</button>
        </div>
        <div class="text-right">
            <p>Du hast bisher insgesamt <span id="total_count_span"></span> Blister gesammelt.</p>
            <p>Das sind <span id="plastic_span"></span>kg gespartes Plastik.</p>
            <p>Und <span id="carbon_span"></span>kg eingespartes CO²</p>
        </div>
    </div>

    <table>
        <tr>
            <th>Getränk</th>
            <th>gespartes Geld</th>
            <th>gesparter Zucker</th>
        </tr>
        <tr>
            <td>Wasser</td>
            <td><span id="wasser_geld_span"></span>€</td>
            <td>0g</td>
        </tr>
        <tr>
            <td>Cola</td>
            <td><span id="cola_geld_sparen"></span>€</td>
            <td><span id="cola_zucker_sparen"></span>g</td>
        </tr>
        <tr>
            <td>Sprite</td>
            <td><span id="sprite_geld_sparen">€</span>€</td>
            <td><span id="sprite_zucker_sparen">g</span></td>
        </tr>
        <tr>
            <td>Apfelsaft</td>
            <td><span id="saft_geld_sparen">€</span></td>
            <td><span id="saft_zucker_sparen">g</span></td>
        </tr>
        <tr>
            <td>Eistee Pfirisch</td>
            <td>-<span id="eistee_geld_sparen">€</span></td>
            <td><span id="eistee_zucker_sparen">g</span></td>
        </tr>
    </table>

    <div>
        <!-- <p>Geld gespart im Vergleich zu B : C €.</p> -->
        <label for="drinks">Geld gespart im Vergleich zu:</label>
        <select name="drinks" id="drinks">
            <option value="water">Wasser</option>
            <option value="cola">Coca Cola</option>
            <option value="sprite">Sprite</option>
            <option value="juice">Apfelsaft</option>
        </select>
        <label for="drinks">:C € (Vergleich zu 500ml Flaschen!)</label>
        <p>Zucker gespart: D g</p>
    </div>
{% endblock %}

{% block button %}
    <script>
        $(document).on("click", "#reset", function() {
            $.post("/reset_counter", function(response) {
                console.log(response)
            });
        });

        $(document).on("click", "#increase", function() {
            $.post("/increase_counter", function(response) {
                console.log(response)
            });
        });

        $(document).on("click", "#decrease", function() {
            $.post("/decrease_counter", function(response) {
                console.log(response)
            });
        });

        function get_counter() {
            $.get("/get_counter", function(response) {
                $("#total_count_span").text(response.total_count);
                $("#current_count_span").text(response.current_count);
                $("#points_span").text(response.current_count*5)
                $("#plastic_span").text((response.total_count/1000)*30);
                $("#carbon_span").text((response.total_count/1000)*150);
                $("#wasser_geld_span").text(response.total_count*0.03);
                $("#cola_geld_sparen").text(response.total_count*0.69);
                $("#cola_zucker_sparen").text(respone.total_count*5.3);
                $("#sprite_geld_sparen").text(response.total_count*0.69);
                $("#sprite_zucker_sparen").text(response.total_count*3.95);
                $("#saft_geld_sparen").text(respone.total_count*0.06);
                $("#saft_zucker_sparen").text(response.total_count*4.85);
                $("#eistee_geld_sparen").text(response.total_count*0.09);
                $("#eistee_zucker_sparen").text(response.total_count*6);
            });
        };

        $(document).ready(function() {
            get_counter();
        });
    </script>
{% endblock %}