{% extends "base.html" %}
{% block content %}
    <div class="month">
        <div class="chart">
            <canvas id="months_chart"></canvas>
        </div>
        <div class="statistics">
            <select id="months">
            <option value="01">Januar</option>
            <option value="02">Februar</option>
            <option value="03">März</option>
            <option value="04">April</option>
            <option value="05">Mai</option>
            <option value="06">Juni</option>
            <option value="07">Juli</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Dezember</option>
            </select>
            <label for="drinks"></label>
        </div>

        <div class="information">
            <p>Das sind im <span id="month_text"></span> insgesamt <span id="month_all"></span> Blister</p>
            <p><span id="month_co"></span>kg gespartes CO² &</p>
            <p><span id="month_plastic"></span>kg gespartes Plastik.</p>
        </div>
    </div>

    <div class="year">
        <div class="chart">
            <canvas id="years_chart"></canvas>
        </div>

        <div class="statistics">
            <select id="years">
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            </select>
        </div>

        <div class="information">
            <p>Das sind im Jahr <span id="year_text"></span> insgesamt <span id="year_all"></span> Blister.</p>
            <p><span id="year_co"></span>kg gespartes CO² &</p>
            <p><span id="year_plastic"></span>kg gespartes Plastik.</p>
        </div>
    </div>
{% endblock %}

{% block additionaljs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script>
        const dataset = {
            label: 'Wert pro Tag',
            data: [],
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(150, 0, 0, 0.2)',
            borderWidth: 2,
            pointRadius: 4,
            pointBackgroundColor: 'rgba(75, 192, 192, 1)',
            fill: true,
            tension: 0.2
        };

        const barconfig = {
            type: "bar",
            data: {
                labels: [],
                datasets: [{
                    ...dataset,
                    backgroundColor: "rgba(150,150,250,0.4)",
                    borderColor: "rgba(200,200,200,1)",
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        type: "time",
                        time: {
                            unit: "day"
                        },
                        title: {
                            display: true,
                            text: "Datum"
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Anzahl"
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Wert: ${context.raw}`;
                            }
                        }
                    }
                }
            }
        }

        const months_chart = new Chart(
            $("#months_chart"),
            barconfig
        );

        const years_chart = new Chart(
            $("#years_chart"),
            barconfig
        );

        function round(number) {
            return (Math.round(number*100))/100;
        };

        function get_statistics() {
            year = $("#years").val();
            month = $("#months").val();
            $("#month_text").text($("#months option:selected").text());
            $("#year_text").text($("#years option:selected").text());
            $.get("/get_statistics?year="+year+"&month="+month, function(response) {
                var month_list = [];
                var month_value_list = [];
                if (response.monthly_statistics) {
                    month_list=response.monthly_statistics.map(item => item[0]);
                    month_value_list=response.monthly_statistics.map(item => item[1]);
                }
                months_chart.data.labels = month_list;
                months_chart.data.datasets[0].data = month_value_list;
                months_chart.update();
                var month_sum = month_value_list.reduce((partialSum, a) => partialSum + a, 0);
                $("#month_all").text(month_sum);
                $("#month_co").text(round((month_sum/1000)*150));
                $("#month_plastic").text(round((month_sum/1000)*30));
                var year_list = [];
                var year_value_list = [];
                if (response.yearly_statistics) {
                    year_list=response.yearly_statistics.map(item => item[0]);
                    year_value_list=response.yearly_statistics.map(item => item[1]);
                };
                years_chart.data.labels = year_list;
                years_chart.data.datasets[0].data = year_value_list;
                years_chart.update();
                var year_sum = year_value_list.reduce((partialSum, a) => partialSum + a, 0);
                $("#year_all").text(month_sum);
                $("#year_co").text(round((month_sum/1000)*150));
                $("#year_plastic").text(round((month_sum/1000)*30));
            });
        };

        $(document).on("change", ".statistics", function() {
            get_statistics();
        });

        $(document).ready(function() {
            let currentYear = new Date().toISOString().slice(0, 4);
            let currentMonth = new Date().toISOString().slice(5, 7);
            $("#years").val(currentYear);
            $("#months").val(currentMonth);
            get_statistics();
        });
    </script>
{% endblock %}